<div class="card" style="width: 100%; height: max-content;" id="Inicio">
  <div class="card-body">
    <div class="row justify-content-end">
      <div class="col-4" id="col-titulo">
        <h2 class="card-title text-center" id="Nombre">
          Educación
        </h2>
      </div>
      <div class="col-4" id="col-btn">
        <!--boton de lapiz-->
        <a type="" class="" >
          <i class="bi bi-pencil lapiz" id="btn-edicion" data-bs-toggle="modal" data-bs-target="#staticBackdrop0"></i>
          <i class="bi bi-trash3-fill" id="btn-edicion" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"></i>
        </a>
      </div>
    </div>
    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col">
          <li>
            <img src="../../../assets/img/card-text.svg" alt="">
            <p>12/10 - 15/11</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, consequuntur.</p>
          </li>
        </div>
        <div class="col">
          <li>
            <img src="../../../assets/img/card-text.svg" alt="">
            <p>12/10 - 15/11</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, consequuntur.</p>
          </li>
        </div>
        <div class="col">
          <li>
            <img src="../../../assets/img/card-text.svg" alt="">
            <p>12/10 - 15/11</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, consequuntur.</p>
          </li>
        </div>
        <div class="col">
          <li>
            <img src="../../../assets/img/card-text.svg" alt="">
            <p>12/10 - 15/11</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, consequuntur.</p>
          </li>
        </div>
      </div>
    </div>
    <a routerLink="/experiencia" class="btn btn-sm d-flex justify-content-center">
      <i class="bi bi-chevron-compact-down"></i>
    </a>
  </div>
</div>

<!--Modal de edicion-->
<div class="modal fade" id="staticBackdrop0" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Educación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="text">descripción</label>
        <input type="text" placeholder="escribir texto aquí">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para eliminar-->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="text">descripción</label>
        <input type="text" placeholder="escribir texto aquí">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>