.card-encabezado{
    grid-template-columns: 25% 1fr;
    display:grid;
    gap:15px;
    align-content: center;
    align-items: center;
}

.card-cuerpo{
    font-size: smaller;
    grid-template-columns: 25% 1fr;
    display: grid;
    gap: 15px;
}

.edu{
    font-size: smaller;
}
