.card-encabezado{
    display: flex!important;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
h3{
    width: 40%;
    text-align: start;
}
.col{
    display: flex;
    justify-content: center;
}
#col-titulo{
    display: flex;
    justify-content: flex-start ;
}

.card-cuerpo{
    text-align: start;
}

p{
    margin-bottom: 0;
}

img{
    width: 15%;
}
