#fondo{
    background-color: rgba(29, 29, 29, 0.979);
}
#offcanvasDarkNavbar{
    background-color: rgba(29, 29, 29, 0.979);
}
#offcanvasDarkNavbarLabel{
    color: aliceblue;
}
a span{
    font-size: 14px;
}
i{
    color: aliceblue;
}
.login{
    background-color: rgb(71, 132, 245);
}
button i{
    background-color: none;
}