<nav class="navbar navbar-dark fixed-top" id="fondo">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Argentina Programa <span>#Yoprogramo</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Porfolio</h5>
                <img src="../../../assets/img/usuario.png" alt="usuario">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#edu">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#exp">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ski">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proy">Proyectos</a>
                    </li>
                    <li>
                        <button type="button" class="btn login"><i>Iniciar sesión</i></button>
                        <button type="button" class="btn login"><i>Cerrar sesión</i></button>
                    </li>
                    <li>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn"><i class="bi bi-instagram"></i></button>
                            <button type="button" class="btn"><i class="bi bi-linkedin"></i></button>                 
                        </div>
                    </li>
                    
                </ul>


            </div>
        </div>
    </div>
</nav>
