#fondo{
    background-color: rgba(29, 29, 29, 0.916);
}

#offcanvasDarkNavbar{
    background-color: rgb(29, 29, 29);
}

#offcanvasDarkNavbarLabel{
    color: aliceblue;
}

a span{
    font-size: 14px;
}

i{
    color: aliceblue;
}

.login{
    background-color: rgb(71, 132, 245);
    margin-bottom: 30px;

}

button i{
    background-color: none;
}

#iniciar{
    display: block;
}

.botonM{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
}

.perfil{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.container-fluid{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-toggler{
    color: rgb(250, 250, 250); font-size: smaller; width:50px;
}

app-login{
    margin-bottom: 25px;
}

.btn-group{
    width: 90px;
}
