<div class="encabezado-tarjeta">
  <img [src]="miPorfolio?.fotoPerfil" alt="" class="foto-perfil">
</div>
<div class="card-body">
  <h1 class="card-title" id="Nombre"> {{miPorfolio?.nombre}} {{miPorfolio?.apellido}} </h1>
  <h2 class="card-title">{{miPorfolio?.titulo}}</h2>
  <div class="acerca-de">
    <h3>Acerca de
      <!--boton de lapiz-->
      <a type="" *ngIf="generalService.vistabtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-pencil"></i>
      </a>
    </h3>
    <p>{{miPorfolio?.descripcion}}</p>
  </div>
</div>

<!--Modal de edicion-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" (submit)="editarPerfil()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Id</label>
            <input type="text" class="form-control" formControlName="id" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.id}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" [(ngModel)]="miPorfolio.nombre" class="form-control" formControlName="nombre"
              id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.apellido}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.titulo}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Acerca De</label>
            <textarea type="text" class="form-control" formControlName="descripcion" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.descripcion}}"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Foto Perfil</label>
            <input type="text" class="form-control" formControlName="fotoPerfil" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.fotoPerfil}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Banner</label>
            <input type="text" class="form-control" formControlName="banner" id="exampleFormControlInput1"
              placeholder="{{miPorfolio?.banner}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Localidad</label>
            <input type="text" class="form-control" formControlName="localidad" id="exampleFormControlInput1" rows="3"
              placeholder="{{miPorfolio?.localidad}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>