<div class="card" style="width: 100%; height: max-content;" id="Inicio">
    <div class="cabecera">
       
    </div>
    <div class="card-body">
      <h1 class="card-title text-center" id="Nombre"> Victoria Camblor</h1>
      <ul class="card-text m-3">
        <li>
            <h2>Acerca de</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, provident.</p>
        </li>
    </ul>
      <a href="#Nombre" class="btn btn-sm d-flex justify-content-center"><img class="sm" src="../../../assets/img/flecha-hacia-abajo-para-navegar.png"
        alt=""></a>
    </div>
</div>