.contenedor-encabezado {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	border: solid 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.encabezado{
	width: inherit;
	height: fit-content;
    border: none;
	border-radius: inherit;
	padding: 30px
}

.proyectos{
	height: 100vh;
	border-radius: inherit;
	border: none;
}

.seccion-proyectos{
	border-radius: 10px;
}

.edu-exp-skills{
	width: 95%;
	margin: auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat (3,1fr);
	gap: 15px;
}

.card{
	background-color: transparent;
}

.caja-1{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 25px;
	flex-wrap: wrap;
}


.titulo-footer{
	height: 25px;
}

.menu {
	display: flex;
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	list-style: none;
	text-decoration: none;
	padding: 0px;
	margin: 0;
    align-content: center;
}
.menu-items{
	display: flex;
	justify-content: center;
}

.barra-footer{
	display: grid;
	grid-template-columns:  1fr 1fr;
	gap: 15px;
	padding: 25px;
	justify-content: center;
	align-content: center;
	width: 95%;
	margin: auto;
	max-width: 1200px;
	height: 200px;
}

.espacio{
	height: 100px;
}

@media screen and (max-width: 900px) {
	.menu-items {
		justify-content: start;	
	}
	.menu{
		flex-direction: column;
		padding: 30px;
	}
}