.cabecera-tarjeta{
    grid-template-columns: 1fr 1fr;
    display:grid;
    gap:  15px;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 15px;;

}

.cabecera-tarjeta h2{
    margin-bottom: 0;
}

.contenedor-iconos{
    text-align: end;
    color: white;
    text-decoration: none;
}

.caja-tarjeta{
    border-radius: 5px;
    border: 1px solid white;
    background-position: center center;
    background-size: cover;
}

.tarjeta-de-proyecto{
    width: inherit;
    height: 224px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.659) 0%, rgba(0, 0, 0, 0.585) 51%, rgba(0, 0, 0, 0.774) 100%);
    padding: 15px;
}

li{
    display: flex;
    flex-direction: column;
    height: 250px;
}

.tarjeta-pie{
    display: flex;
}

.boton-tarjeta{
    width: 100px;
    background-color: #ff7f5000;
    border: none;
}

.descripcion-tarjeta{
    margin-bottom: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(168, 168, 168);
    text-decoration: none;
}

h3{
    max-width: 500px;
}



