* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}


.barra-nav {
	width: 100%;
	min-height: 58px;
	/* border-radius: 10px; */
	background-color: #0a133100;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 25px; 
	border-bottom: 1px solid #f5f5dc4d;
}



.contenedor {
	width: 95%;
	max-width: 1200px;
	margin: auto;
	padding: 15px 0;
	text-align: start;

	/* Grid */
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 15px;
}

h3 {
	text-align: start;
}


.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.edu-exp-skills{
	width: 95%;
	margin: auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 15px;
    }

.contenedor-proyectos{
	overflow-y: scroll;
	height: 86vh;
	display: flex;
	gap: 15px;
	flex-direction: column-reverse;
}
.contenedor-proyectos::-webkit-scrollbar{
	display: none;
}

.card {
	display: flex;
	width: 100%;
	gap: 20px;
	flex-direction: column;
	/* justify-content: space-between;*/
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	/* width: calc(33.33% - 20px);

	/* Flexbox */
	/* width: calc(33.33% - 20px); */
}

.card .textos {
	height: 100%;

	/* Flebox */
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* Grid */
	/* display: grid;
	grid-template-rows: 1fr auto; */
}

.lista-skills {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0 15px;
	flex-direction: column;
}

#col-btn{
    text-align:end;
  }

.items-card {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
	background-color: #0412224a;
	border-radius: 5px;
	height: fit-content;
}

.img-list {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

.card-header-skills{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap:15px;
    padding:15px;
  }





@media screen and (max-width: 900px) {
	.contenedor {
		grid-template-columns: 1fr;
	}

	.edu-exp-skills{
		grid-template-columns: repeat(1,1fr);
	    }
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}

